$color-background: #bdfff0;
$color-text: #000;
$color-theme: #2cbce1;
$color-theme-inverted: #000;
$message-background: #2cbce147;

$font-family: 'Roboto', sans-serif;

$size-radius-small: 8px;
$size-radius-large: 100%;
$size-rem: 1.6rem;
$size-wrapper-margin: 16px;
